<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Heat-based bidirectional phase shifting simulation using position-based dynamicstitle></title>

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/ownblack.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>
	<script src="js/Chart.min.js"></script>
	<script src="js/p5.min.js"></script>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<img class="logo">
			<!--<img class="logo itm">-->
			<!-- Initial Slide -->

			<section data-background-color="white"><img src="images/logo.png" style="height: 7em; width: auto;"></section>
			<section>
				<h3>Heat-based bidirectional phase shifting simulation using position-based dynamics</h3>
				<div style="color: rgb(192, 192, 192)"><strong>Steeven <span style="color: red">Villa Salazar</span></strong>; Jose
					<span style="color: red">Ticona</span>; Rafael <span style="color: red">Torchelsen</span>; Luciana <span style="color: red">Nedel</span>;
					Anderson <span style="color: red">Maciel</span> </div>
			</section>


			<section data-background-color="white">

				<section data-background-image="images/melting.jpg" data-state="blur">
					<h1 style="color:#000000bd">Melting</h1>
				</section>
				<section data-background-image="images/frozen.jpg" data-state="blur" data-background-color="white">
					<h1 style="color:#000000bd">Freezing</h1>
				</section>
				<section data-background-image="images/evaporation.jpg" data-state="blur" data-background-color="white">
					<h1 style="color:#000000bd">Evaporation</h1>
				</section>
				<section data-background-image="images/condensation.jpg" data-state="blur">
					<h1 style="color:#ffffffbd">Condensation</h1>
				</section>
			</section>
			<section>
				<h4>Related Works</h4>
				<section data-background-video="Videos/Related/physically.mp4" data-background-video-loop
				 data-background-video-loop data-background-color="white">
					<div class="fragment fade-up" id="left">
						<div id="panel">A physically consistent implicit viscosity
							solver for SPH fluids<br> <strong> Weiler M et al.</strong> </div>
					</div>
					<div class="fragment fade-up" id="right">
						<div id="panel">
							<ul>
								<li>Melting</li>
								<li>Not Solidifying</li>
								<li>Not Vaporization</li>
								<li>Not Condensation</li>
							</ul>
						</div>
					</div>
				</section>
				<section data-background-video="Videos/Related/augmented.mp4" data-background-video-loop>
					<div class="fragment fade-up" id="left">
						<div id="panel">Augmented mpm for phase-change and varied materials.<br> <strong> Stomakhin et al. </strong>
						</div>
					</div>
					<div class="fragment fade-up" id="right">
						<div id="panel">
							<ul>
								<li>Melting</li>
								<li>Solidifying</li>
								<li>Not Vaporization</li>
								<li>Not Condensation</li>
							</ul>
						</div>
					</div>
				</section>
				<section data-background-video="Videos/Related/efficient.mp4" data-background-video-loop data-background-color="white">
					<div class="fragment fade-up" id="left">
						<div id="panel"> An efficient heat-based model for solid-liquid-gas phase transition and dynamic interaction. <br>
							<strong> Gao Y et al. </strong> </div>
					</div>
					<div class="fragment fade-up" id="right">
						<div id="panel">
							<ul>
								<li>Melting</li>
								<li>Solidifying</li>
								<li>Vaporization</li>
								<li>Not Condensation</li>
							</ul>
						</div>
					</div>
				</section>
				<section data-background-video="Videos/Related/evaporation.mp4" data-background-video-loop>
					<div class="fragment fade-up" id="left">
						<div id="panel"> Evaporation and Condensation of SPH-based Fluids<br> <strong> Hochstetter and Kolb</strong>
						</div>
					</div>
					<div class="fragment fade-up" id="right">
						<div id="panel">
							<ul>
								<li>Not Melting</li>
								<li>Not Solidifying</li>
								<li>Vaporization</li>
								<li>Condensation</li>
							</ul>
						</div>
					</div>
				</section>
			</section>

			<section>
				<h2>Our Solution</h2>
				<ul>
					<li>Melting</li>
					<li>Solidifying</li>
					<li>Vaporization</li>
					<li class="fragment highlight-current-blue">Condensation</li>
					<li class="fragment highlight-red">Full Lagrangian</li>
				</ul>
			</section>
			<section data-background-color="white">
				<section>
					<h2>PBD</h2>
					<h3>Position-based Dynamics</h3>
				</section>
				<section data-transition="fade" data-background-color="white">
					<div id="left"> <img src="images/i1.PNG" style="height: 7em; width: auto;">
						<div>Forces (accelerations)</div>
					</div>
					<div id="right"> <img src="images/PBD1.PNG" style="height: 7em; width: auto;">
						<div> Positions </div>
					</div>
				</section>
				<section data-transition="fade" data-background-color="white">
					<div id="left"> <img src="images/i2.PNG" style="height: 7em; width: auto;">
						<div>Velocities</div>
					</div>
					<div id="right"> <img src="images/PBD2.PNG" style="height: 7em; width: auto;">
						<div>Position Correction</div>
					</div>
				</section>
				<section data-transition="fade" data-background-color="white">
					<div id="left"> <img src="images/i3.PNG" style="height: 7em; width: auto;">
						<div>Position Correction </div>
					</div>
					<div id="right"> <img src="images/PBD3.PNG" style="height: 7em; width: auto;">
						<div> Velocities </div>
					</div>
				</section>
				<section data-background-color="white">

					<ul>
						<li class="fragment fade-in">Constraint-Based \begin{equation}
							C\left(x\right)\approx 0
							\end{equation}</li>
						<li class="fragment fade-in">Positions Given By:
							\begin{equation}
							\Delta x = \nabla C \left(x\right) \Delta \lambda
							\label{eq:deltax}
							\end{equation}
						</li>
						<li class="fragment fade-in">With:
							\begin{equation}
							\Delta\lambda=-\frac{C\left(x\right)-\lambda \tilde{\alpha}}{\sum w\left|\nabla
							C\left(x\right)\right|^2+\tilde{\alpha}}
							\end{equation}
						</li>
					</ul>
				</section>
				<section data-background-color="white">
					<h4>Solid Bodies</h4>
					<img src="images/distance.PNG" style="height: 7em; width: auto;">
					<div>$C(x_{1},x_{2}) = \mid x_{1} - x_{2}\mid - l_{0}$</div>
				</section>
			</section>

			<section data-background-color="white">
				<section data-background-color="white">
					<h2>SPH</h2>
					<h3> Smoothed-particle hydrodynamics </h3>
				</section>
				<section data-background-color="white">
					<div>
						<div id="left"> <img src="images/SPH1.png" style="height: 7em; width: auto;">
						</div>
						<div id="right"> <img src="images/SPH2.png" style="height: 7em; width: auto;">
						</div>
					</div>

					<div>
						<div id="left">
							<div class="fragment" data-fragment-index="1" style="color:red">Particle </div>
							<div class="fragment" data-fragment-index="3" style="color:green">Distance between particles</div>
						</div>
						<div id="right">
							<div class="fragment" data-fragment-index="2" style="color:blue"> Neighbors </div>
							<div class="fragment" data-fragment-index="4" style="color:rgb(150, 30, 150)">Kernel influence </div>
						</div>
					</div>

				</section>
				<section data-background-color="white">
					<div>
						<div id="left"> <img src="images/SPH1.png" style="height: 7em; width: auto;">
						</div>
						<div id="right"> <img src="images/SPH2.png" style="height: 7em; width: auto;">
						</div>
					</div>
					<div> $A \left( \textbf{x} \right) = \sum_{j} m_{j} \frac{A_{j}}{\rho_{j}}$ <div class="fragment highlight-violet"
						 style="display:inline-block;"> $W\left(\textbf{x} - \textbf{x}_{j} , h\right)$ </div>
					</div>
				</section>

				<section data-background-color="white">

					<div>
						Density calculation
						\begin{equation}
						\rho_{i}=\sum m_{j} W\left( \textbf{r}_{i} - \textbf{r}_{j}, h \right)
						\end{equation} </div>

					<div class="fragment fade-in" data-fragment-index="1">
						<div class="fragment highlight-red" data-fragment-index="2"> As Constraint:
							\begin{equation}
							C(\textbf{x})=\frac{\rho_{i}}{\rho_{0}}-1
							\end{equation}</div>
					</div>
					<h4 class="fragment fade-in" style="color:red" data-fragment-index="2">Position-based fluids</h4>
				</section>
			</section>

			<section>
				<div>
					<h4>Phase coupling</h4>
					<div>
						$\rho_{i}=$
						<div class="fragment highlight-red" style="display:inline-block" data-fragment-index="2">$\sum_{j} m_{j} W_{ij}$</div>
						$+$
						<div class="fragment highlight-green" style="display:inline-block" data-fragment-index="3">$\sum_{k}m_{k} W_{ik}$</div>
						$+$
						<div class="fragment highlight-blue" style="display:inline-block" data-fragment-index="4">$\sum_{b}\frac{\rho_{0}}{\delta_{b}}
							W_{ib}$</div>
					</div>


					<div style="display:inline-block;color:red" class="fragment" data-fragment-index="2">Solid</div>
					<div style="display:inline-block;color:greenyellow" class="fragment" data-fragment-index="3">Fluid</div>
					<div style="display:inline-block;color:rgba(52, 99, 255, 0.829)" class="fragment" data-fragment-index="4">Boundaries</div>

				</div>
			</section>

			<section>

				<h4>Heat transfer</h4>

				<section>
					<div id="heat"></div>
					<div> Explicit scheme:
						\begin{equation}
						\left(\frac{dT}{dt}\right)=2\phi\sum_{j}\frac{m_j}{\rho_j}\left( T_{j} -T_{j} \right) \nabla W_{ij}
						\end{equation}</div>
				</section>
				<section>
					<div> Cleary scheme:
						\begin{equation}
						\left(\frac{dT}{dt}\right)=\frac{V_{i}}{ m_{i} c_{i} } \sum_{j} \frac{4k_{i}k_{j}}{k_{i}+k_{j}}V_{j}\left(
						T_{i} -T_{j} \right) \nabla W_{ij}
						\end{equation}</div>
				</section>
				<section data-background-color="white">
					<div>Latent Heat</div>
					<img src="images/latent.PNG" style="height: 10em; width: auto;">
					<div>\begin{equation}
						\frac{dL}{dt} = c_{i} \Delta T
						\end{equation}</div>
				</section>
				<section>
					\begin{equation}
					S \! tate = \begin{cases}
					S\!olid & T_{i} < T_{m}, \\ Phase \; change_{m-f} & T_{i}=T_{m} \\ Fluid & T_{m} < T_{i} < T_{e} \\ Phase \;
					 change_{e-c} & T_{i}=T_{e} \\ Gas & T_{i}> T_{e}
						\end{cases}
						\end{equation}
				</section>
			</section>

			<section>
				<h4>Transition Coupling</h4>
				<section>

				</section>
				<section>
					<pre style="margin-bottom: -2%; margin-top: 5%">
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="0">01  loop:</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="1">02	for all Particles do calculate Next Positions</code> 
<code style="margin-top: -3%" class="fragment highlight-current-red" data-fragment-index="2">03	for all Fluid Particles do Set Gravity-Acceleration</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="3">04	for all Particles do Neighborhood Search</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="4">05	loop Iterations:</code>
<code style="margin-top: -3%" class="fragment highlight-current-red" data-fragment-index="5">06		for all Particles do Density Constraint</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="6">07		for all Fluid Particles do Viscosity Constraint</code>
<code style="margin-top: -3%" class="fragment highlight-current-red" data-fragment-index="7">08		for all Solid Particles do Distance Constraint</code>
<code style="margin-top: -3%" class="fragment highlight-current-red" data-fragment-index="8">09	for all Particles do Manage Constraints</code>
<code style="margin-top: -3%" class="fragment highlight-current-red" data-fragment-index="9">10	for all Particles do Heat Transfer</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="10">11	for all Particles do Update Temperatures</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="11">12	for all Particles do Update Velocities</code>
<code style="margin-top: -3%" class="fragment highlight-current-green" data-fragment-index="12">13	for all Particles do Update Neighborhood</code>
</pre>
					<div class="fragment highlight-current-red" data-fragment-index="2">
						<div class="fragment highlight-current-red" data-fragment-index="5">Latent Heat of evaporation</div>
					</div>
					<div class="fragment highlight-current-red" data-fragment-index="9">
						<div class="fragment highlight-current-red" data-fragment-index="7">Temperature</div>
					</div>
					<div class="fragment highlight-current-red" data-fragment-index="8">Latent Heat of melting</div>
				</section>
				<section>
					<h4>Liquid-gas Phase</h4>
					<pre><code>03	for all Fluid Particles do Set Gravity-Acceleration</code></pre>
					\begin{equation}
					\beta\left(\gamma \right) = 1-\frac{1}{1 + \left(1 + \frac{12}{L_{e,threshold}}\right)^{\gamma}} \quad \star
					\end{equation}
					$\gamma = \frac{L_{e,threshold}}{2} - L_{e}$.
				</section>
				<section>
					<h4>Liquid-gas Phase</h4>
					<pre> <code>06		for all Particles do Density Constraint</code></pre>
					<div id="left">
						\begin{equation}
						C(\textbf{x})=\frac{\rho_{i}}{\rho_{0}}-1
						\end{equation}
					</div>
					<div id="right" style="font-size:.7em;">
						\begin{equation}
						g\left(\omega \right) = \frac{10.8}{\ln \left( \frac{L_{e,threshold} + 0.02}{ 0.02} \right)} \ln \left( \omega
						\right) - 9.8
						\end{equation}
						<br>
						$\omega = \frac{L_{e,threshold} + 0.02}{ L_{e,threshold} + 0.02 - L_{e}}$
					</div>
				</section>
				<section>
						<canvas id="myFunction"></canvas>
				</section>
				<section>
					<h4>Solid-liquid phase</h4>
					<pre><code>09	for all Particles do Manage Constraints</code></pre>
					<h5>Constraint Manager</h5>
					<div id="left" class="fragment">
						<div>Distance between particles</div>
						<div>
							<div>
								<div class="circlec leftc"></div>
								<div class="circlec rightc"></div>
							</div>
						</div>
					</div>
					<div id="right" class="fragment">
						<div>Current and past state of the particle</div>
						<div class="circlec statesc"></div>
					</div>

					<div class="fragment">
						<div style="left: 25%; position: relative;">Current number of constraints</div>
						<div style="left: 50%; position: relative;" class="circlec"></div>
						<div style="display:inline-block;color:red">$nCmax<4$ </div> </4> </div> </section> <section>
								<pre><code>09	for all Particles do Manage Constraints</code></pre>
								<h5>Constraint Manager</h5>
								<img src="images/distanceblack.png" style="height: 7em; width: auto;">

				</section>
			</section>

			<section>
				<h4>Results</h4>
				<section >
					<div style="width: 100%">
						<canvas id="myBar1"></canvas>
					</div>
				</section>
				<section>
					<div style="width: 100%">
						<canvas id="myBar2"></canvas>
					</div>
				</section>
				<section>
					<div style="width: 100%">
						<canvas id="myBar3"></canvas>
					</div>
				</section>
				<section>
					<div style="width: 100%">
						<canvas id="myBar4"></canvas>
					</div>
				</section>
				<section data-background-video="videos/NoRender/0001-0639.mp4" data-background-video-loop>
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Solidifying</h4> </div>
				</section>
				<section data-background-video="videos/Render/solidify.mp4" data-background-video-loop data-background-color="white">
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Solidifying</h4> </div>
				</section>
				<section data-background-video="videos/NoRender/0001-0639a.mp4" data-background-video-loop>
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Melting</h4> </div>
				</section>
				<section data-background-video="videos/Render/melting.mp4" data-background-video-loop data-background-video-loop data-background-color="white">
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Melting</h4> </div>
				</section>
				<section data-background-video="videos/NoRender/0001-0891c.mp4" data-background-video-loop>
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Condensating</h4> </div>
				</section>
				<section data-background-video="videos/Render/condensation.mp4" data-background-video-loop data-background-video-loop data-background-color="white">
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Condensating</h4> </div>
				</section>
				<section data-background-video="videos/NoRender/0001-5188.mp4" data-background-video-loop>
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Evaporating</h4> </div>
				</section>
				<section data-background-video="videos/Render/evaporation-convection.mp4" data-background-video-loop data-background-video-loop data-background-color="white"> 
					<div id="left"> <h4 id="panel" style="position:absolute; bottom:-1000%">Evaporating</h4> </div>
				</section>
				<section data-background-video="videos/NoRender/0001-4480.mp4" data-background-video-loop>
					
				</section>
				<section data-background-video="videos/Render/simulation.mp4" data-background-video-loop data-background-video-loop data-background-color="white">
				</section>
			</section>

			<section>
				<h4>Limitations</h4>
				<ul>
					<li>No truly rigid bodies</li>
					<li>Not pressure dependency</li>
					<li>A little far from Real-World physics</li>
				</ul>
			</section>
			<!-- Ending -->
			<section data-autoslide="400">
				<div style="font-size:1.5em;">Steeven <b>Villa</b> <br></div>
				<div class="fragment fade-up" style="margin: auto;">
					<div id="left">
						<p style="font-size:2.2em;">
							<strong>steeven<span style="color: red">v</span>.com</strong></p>
					</div>
					<div id="rigth" style="text-align: left;">
						<div class="fragment fade-up" style="font-size:1.4em;">/#work<br></div>
						<div class="fragment fade-up" style="font-size:1.4em;">/#research<br></div>
						<div class="fragment fade-up" style="font-size:1.4em;">/sibgrapi<br></div>
					</div>
				</div>

			</section>



		</div>
	</div>

	<script src="lib/js/head.min.js"></script>
	<script src="js/reveal.js"></script>
	<script src="animation.js"></script>

	<script>
		Reveal.initialize({
			transition: 'fade',
			width: 960 * 1.2,
			height: 700 * 1,
			history: true,

			// Chart.min.js

			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
				{ src: 'plugin/chartjs/Chart.min.js' },
				// the plugin
				{ src: 'plugin/chartjs/charted.js' },
				{ src: 'plugin/math/math.js', async: true }
			],
			chart: {
				// Taken from chartjs documentation

				items: [
					{
						selector: "#chart-frame-1",
						type: "bar",
						data: {
							labels: ["Impreciso", "Exacto", "Plausible"],
							datasets: [
								{
									label: "Fidelidad",
									fillColor: "rgba(250,0,0,0.6)",
									strokeColor: "rgba(220,220,220,0.8)",
									highlightFill: "rgba(220,220,220,0.75)",
									highlightStroke: "rgba(220,220,220,1)",
									data: [25, 80, 45]
								},
								{
									label: "Velocidad",
									fillColor: "rgba(100,100,100,0.6)",
									strokeColor: "rgba(220,220,220,0.8)",
									highlightFill: "rgba(220,220,220,0.75)",
									highlightStroke: "rgba(220,220,220,1)",
									data: [75, 20, 55]
								}
							]
						},
						options: {
							responsive: true,
							multiTooltipTemplate: "<%= datasetLabel %>: <%= value %>",
							legend: {
								display: true,
								position: 'top'
							}
						}
					}
				]
			}
		});
	</script>
</body>

</html>